

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');



* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Prompt', sans-serif;
    font-weight: normal;
}


body{
    background-image: url("nuvols.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.heading{
    color:white;
    font-size: 100px;
    text-align: center;
    padding: 35px;
}



.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}


.container .main-video{
    background: #869aa7;
    border-radius: 5px;
    padding: 10px;
}


.container .main-video video{
    width: 100%;
    border-radius: 30px;
}


.container .main-video .title{
    color: white;
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.container .video-list{
    background: #77a4cf
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
}

.container .video-list::-webkit-scrollbar{
    width: 15px;
}



.container .video-list::-webkit-scrollbar-track{
    background: white;
    border-radius: 50px;
}


.container .video-list::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 100px;
}


.container .video-list .vid video{
    width: 100px;
    border-radius: 5px;
}



.container .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border:1px solid rgba(0, 0, 0,.1)
}


.container .video-list .vid:hover{
    background: white;
}


.container .video-list .vid.active{
    background: #2980b9;
}


.container .video-list .vid.active .title{
    color: #0b285a
}


.container .video-list .vid .title{
    color: #333;
    font-size: 30px;
}


@media (max-width:991px){

    .container{
        grid-template-columns: 1.5fr 1fr;
        padding: 10px;
    }
}


@media (max-width:768px){

    .container{
        grid-template-columns: 1fr;
    }
}


